body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('./adm.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    overflow: hidden; /*Prevent scrolling*/
  }